{% extends 'index.html' %} {% block title %}<title>Browse Events</title>{%
endblock title%} {% block content %}
<div class="dash-cont">
  <div class="sidebar" id="sidebar">
    <div class="top">
      <div class="logo">
        <i class="bx bxl-codepen"></i>
        <span>Event Ticketing</span>
      </div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <div class="user">
      <img
        src="{{ url_for('static', filename='images/venue1.jpg') }}"
        alt="image of a ticket"
        class="user-img"
      />
      <div>
        <p class="bold">E & T</p>
        <p>User</p>
      </div>
    </div>
    <ul>
      <li>
        <a href="/home/sports">
          <i class="bx bx-football"></i>
          <span class="nav-item">Sports</span>
        </a>
        <span class="tooltip">Sports</span>
      </li>
      <li>
        <a href="/home/music">
          <i class="bx bxs-music"></i>
          <span class="nav-item">Concerts</span>
        </a>
        <span class="tooltip">Concerts</span>
      </li>
      <li>
        <a href="/home/fashion">
          <i class="bx bxs-t-shirt"></i>
          <span class="nav-item">Fashion shows</span>
        </a>
        <span class="tooltip">Fashion Shows</span>
      </li>
      <li>
        <a href="/cart">
          <i class="bx bxs-cart-alt"></i>
          <span class="nav-item">Shopping Cart</span>
        </a>
        <span class="tooltip">Shopping Cart</span>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="container">
      <h1>My Dashboard</h1>
      <br />
      <h2>Popular Events:</h2>
      <div
        class="user-dash-cont"
        style="background-color: #1f2937; color: white"
      >
        {% for event in events[:3] %}
        <div>
          <img src="{{ event.image_url }}" alt="image of event" />
          <p>
            {{event.name}}<br />{{ event.city }}, {{ event.state }} <br />Venue:
            {{ event.venue_name }}<br />{{ event.date }}<br />Time: {{
            event.time }}<br />
          </p>
          <br />
          <form
            action="{{ url_for('shopping_cart.add_to_cart') }}"
            method="post"
          >
            {{ form.hidden_tag() }} {# Render any hidden fields included in the
            form #}

            <!-- Hidden fields for additional data -->
            <input type="hidden" name="event_id" value="{{ event.id }}" />
            <input type="hidden" name="event_name" value="{{ event.name }}" />
            <input type="hidden" name="city" value="{{ event.city }}" />
            <input type="hidden" name="state" value="{{ event.state }}" />
            <input type="hidden" name="venue" value="{{ event.venue_name }}" />
            <input type="hidden" name="date" value="{{ event.date }}" />
            <input type="hidden" name="price" value="100" />

            <div class="form-group">
              {# Render the quantity field #} {{ form.quantity.label() }} {{
              form.quantity(class="form-control") }} {% for error in
              form.quantity.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
        {% endfor %}
      </div>
      <div>
        <br />
        <h2>Featured Event:</h2>
        <div class="container1">
          <div class="body-text">
            Join Us For Our <br />
            Featured Event!<br /><br />
            <p>
              Discover a world of excitement with our diverse range of featured
              events! Get ready to groove to the beats of top DJs at our
              electrifying dance parties, challenge yourself with our
              adrenaline-pumping sports tournaments, tantalize your taste buds
              at our gourmet food festivals, or create unforgettable memories
              with your loved ones at our family-friendly carnivals. With an
              array of entertainment options spanning music, sports, food, and
              family fun, there's never a dull moment at our events. Mark your
              calendars and join us for the ultimate experience!"
            </p>
          </div>
          <div class="user-dash-cont" style="color: white">
            {% for event in events[:1] %}
            <div>
              <img src="{{ event.image_url }}" alt="image of event" />
              <p>
                {{event.name}}<br />{{ event.city }}, {{ event.state }}
                <br />Venue: {{ event.venue_name }}<br />{{ event.date }}<br />Time:
                {{ event.time }}<br />
              </p>
              <form
              action="{{ url_for('shopping_cart.add_to_cart') }}"
              method="post"
            >
              {{ form.hidden_tag() }} {# Render any hidden fields included in the
              form #}
  
              <!-- Hidden fields for additional data -->
              <input type="hidden" name="event_id" value="{{ event.id }}" />
              <input type="hidden" name="event_name" value="{{ event.name }}" />
              <input type="hidden" name="city" value="{{ event.city }}" />
              <input type="hidden" name="state" value="{{ event.state }}" />
              <input type="hidden" name="venue" value="{{ event.venue_name }}" />
              <input type="hidden" name="date" value="{{ event.date }}" />
              <input type="hidden" name="price" value="100" />
  
              <div class="form-group">
                {# Render the quantity field #} {{ form.quantity.label() }} {{
                form.quantity(class="form-control") }} {% for error in
                form.quantity.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
              </div>
              {{ form.submit(class="btn btn-primary") }}
            </form>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <br />
      <h2>Other Awesome Events:</h2>
      <div
        class="user-dash-cont"
        style="background-color: #1f2937; color: white"
      >
        {% for event in events[:9] %}
        <div>
          <img src="{{ event.image_url }}" alt="image of event" />
          <p>
            {{event.name}}<br />{{ event.city }}, {{ event.state }} <br />Venue:
            {{ event.venue_name }}<br />{{ event.date }}<br />Time: {{
            event.time }}<br />
          </p>
                   <form
            action="{{ url_for('shopping_cart.add_to_cart') }}"
            method="post"
          >
            {{ form.hidden_tag() }} {# Render any hidden fields included in the
            form #}

            <!-- Hidden fields for additional data -->
            <input type="hidden" name="event_id" value="{{ event.id }}" />
            <input type="hidden" name="event_name" value="{{ event.name }}" />
            <input type="hidden" name="city" value="{{ event.city }}" />
            <input type="hidden" name="state" value="{{ event.state }}" />
            <input type="hidden" name="venue" value="{{ event.venue_name }}" />
            <input type="hidden" name="date" value="{{ event.date }}" />
            <input type="hidden" name="price" value="100" />

            <div class="form-group">
              {# Render the quantity field #} {{ form.quantity.label() }} {{
              form.quantity(class="form-control") }} {% for error in
              form.quantity.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  let btn = document.querySelector("#btn");
  let sidebar = document.querySelector(".sidebar");

  btn.onclick = function () {
    sidebar.classList.toggle("active");
  };

  window.addEventListener("scroll", function () {
    var sidebar = document.getElementById("sidebar");
    var topOffset = 50; // Adjust this value as needed

    if (window.scrollY > topOffset) {
      sidebar.classList.add("fixed");
    } else {
      sidebar.classList.remove("fixed");
    }
  });
</script>
{% endblock content %}
