{% extends 'index.html' %}


{% block content %} 

<div class="container">
    <h1>Enter your login information:</h1>
    <form method="POST" action="/host/login">
        {{ form.csrf_token }}

        <div class="mb-3">
            {{ form.organization_email.label(class="form-label") }}
            {{ form.organization_email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        {{ form.submit() }}
    </form>
</div>

{%endblock content%}