body{
    margin: 0;
    color: #F9FAF8;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    background-color:#d8d6d6 !important;
}

.header{
    background-color: #1F2937;
    padding: 24px;
    display:flex;
    justify-content: center;
    gap: 750px;

}
#logo{
    height: 100px;
    width: 150px;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    font-size: 24px;
    margin-top: 15px;
}
.container1{
    background-color: #1F2937;
    padding: 24px;
    display:flex;
    justify-content: center;
    gap: 200px;
}
.body-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.body-text p{
    font-size: 18px;
    color: #E5E7EB;
    
}
.body-image img{
    height: 300px;
    width: 550px;
}
h1{
    text-align: center;
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}
.container2{
    padding: 24px;
    display:flex;
    justify-content: center;
    gap: 100px;
    color:#1F2937;
    text-align: center;
    margin-bottom: 25px;
}
.container2 img{
    height: 200px;
    width: 200px;
    border: 2px solid #65b9e6 ;
    border-radius: 20px;
}
.container3{
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 24px;
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.container3 p{
    width: 750px;
    text-align: left;
}
#author{
    display: flex;
    text-align: right;
    font-weight: bold;
    justify-content: right;
}
.container4{
    padding: 24px;
    display:flex;
    justify-content: center;
    gap: 100px;
}
.container4 .body-text{
    color: #1F2937;
    font-size: 28px;
}
.container4 .body-text p{
    color: #1F2937;
}
.container5{
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    color: #1F2937;
    background-color:#E5E7EB;
    padding: 36px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    font-size: 18px;
    font-weight: bold;
    
}
#callToAction{
    font-size: 24px;;
    font-weight: bold;
}
.container5 button{
     background-color: #3882F6;
    color: #1F2937;
    padding: 10px;
    width: 150px;
    border: 2px solid white;
    border-radius: 10px;
    color: white; 
    margin-bottom: 10px;
}
.container2 button{
  background-color: #3882F6;
  color: #1F2937;
  padding: 10px;
  width: 150px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}
footer{
    
    margin-top: 75px;
    background-color: #1F2937;
    color: white;
    padding: 24px;
    text-align: center;
}

button:hover {
    background-color: #047bbb;
   }
button:active {
    transform: translateY(2px);
  }
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: lightcyan;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: lightskyblue;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(88, 241, 247);
    background-color: transparent;
    text-decoration: underline;
  }
  .container{
    margin-bottom: 275px;
    margin-top: 50px;
  }
  form {
    margin-top: 50px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;   
  }
  input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  input[type="submit"]:hover {
    background-color: rgb(32, 191, 219);
  }
  
  input[type="submit"]:focus{
    outline: none;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .dash-cont{
    display:flex;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 0;
  }
  .user-img{
    width:50px;
    border-radius: 100%;
    border: 1px solid lightgrey;
  }
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color:#12171e;
    padding: .4rem .8rem;
    transition: all 0.3s ease;
  }
  .sidebar.fixed {
    position: fixed;
    top: 0;
  }
  .sidebar.active ~ .main-content{
    left:250px;
    width: calc(100% - 50px);
  }
  .sidebar.active{
    width: 250px;
  }
  .sidebar #btn{
    position: absolute;
    color: white;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .sidebar.active #btn{
    left:90%
  }
  .sidebar .top .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
  }
  .sidebar.active .top .logo{
    opacity: 1;
  }
  .top .logo i{
    font-size: 2rem;
    margin-right:5px;
  }
  .user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  .user p{
    color: white;
    opacity: 1;
    margin-left: 1rem;
  }
  .bold{
    font-weight: 600;
  }
  .sidebar p{
    opacity: 0;
  }
  .sidebar.active p{
    opacity: 1;
  }
  .sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 175px;
    margin: 0.8rem auto;
    line-height: 50px;
  }

  .sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
  }
  .sidebar ul li a:hover{
    background-color: white;
    color: #12171e;
  }
  .sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
  }
  .sidebar .nav-item{
    opacity: 0;
  }

.sidebar.active .nav-item{
  opacity: 1;
}

.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip{
    opacity: 1;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.main-content{
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;;
    margin-left: 100px;
}
.user-dash-cont{
    padding: 24px;
    display:flex;
    justify-content: center;
    gap: 75px;
    color:#1F2937;
    text-align: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
}
.user-dash-cont img{
  height: 200px;
  width: 200px;
  border: 2px solid #65b9e6 ;
  border-radius: 20px;
}
.user-dash-cont button{
  background-color: #3882F6;
  color: #1F2937;
  padding: 10px;
  width: 150px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}
.check_cont {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 5px;
  background: #e29f9f;
}

.check_cont input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.check_cont button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check_cont button:hover {
  background-color: #0056b3;
}

.guest_list_cont {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
}

.card-body {
  padding: 20px;
  background-color:lightsalmon;
}

.card-title {
  font-weight: bold;
}

.guest_list_cont .btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.guest_list_cont .btn:hover {
  background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-dialog {
  position: relative;
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.manager_dash{
  background-image: url("/static/images/background.jpg");
    background-size: cover;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 100px);
    padding: 1rem;;
    margin-left: 100px;
}
.manager_main{
  padding: 24px;
    display:flex;
    justify-content: center;
    gap: 75px;
    color:#1F2937;
    text-align: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    font-size: 16px;
}
.check_p{
  text-align: center;
  font-size: 30px;
}

#check_button{
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

#check__button:hover {
  background-color: #0056b3;
}
.alert{
  text-align: center;
  font-size: 30px;
}
.checkout_success{
  text-align: center;
  background-image: url("/static/images/congrats.jpg");
    background-size: cover;
    min-height: 100vh;
    color: black;
    font-size: 50px;
    font-weight: 800;
    font-family:fantasy;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout_success p{
  background-color: #47f1f1;
  border: 10px solid rgb(2, 134, 179);
  border-radius: 15px;
  padding: 10px;
}
